@import url("https://fonts.googleapis.com/css2?family=Afacad&family=Lato:wght@100&family=Montserrat:wght@100&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poiret+One");
@import url("https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css");



/* --------------- RESET CSS --------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
   text-decoration: none;
   overflow-anchor: none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* --------------- RESET CSS --------------- */



/* --------------- FONTS --------------- */
/* font-family: "Afacad", sans-serif; */
/* font-family: "Lato", sans-serif; */
/* font-family: "Montserrat", sans-serif; */
/* font-family: "Roboto", sans-serif; */
/* font-family: "Poiret One", sans-serif;
/* --------------- FONTS --------------- */



/* --------------- ALL --------------- */
body {
   font-family: "Poiret One", sans-serif;
   background-color: #FFFFFF;
}

.main-container {
   margin-top: 125px;
   min-height: 100vh;
}
/* --------------- ALL --------------- */



/* --------------- HEADER --------------- */
.header {
   background-color: #80835f;

   overflow: hidden;
   z-index: 10000;
   position: fixed;
   width: 100%;  
}

.header.visible {
   top: 0px;
   animation: top 1s ease-in-out;
}

.header.hidden {
   top: -50px;
   animation: top 1s ease-in-out;
}

.topline {
	position: relative;
	height: 5px;
	background: rgb(112,108,71);
   background: linear-gradient(90deg, rgba(112,108,71,1) 0%, rgba(128,131,95,1) 50%, rgba(171,140,105,1) 100%);
}

.header a {
   float: left;
   color: #FFFFFF;

   padding: 0px 30px;
   
   font-size: 20px;
   line-height: 120px;
   letter-spacing: 3px;
}

a.header-button-left {
   font-size: 45px;
   letter-spacing: 10px;
}

.header-right {
   float: right;
}

a.header-button-right:hover {
   background-color: #AB8C69;;
}

a.header-button-left:hover {
   background-color: transparent;
   color: #AB8C69;
}

a.header-button-right-active {
   background-color: #FFFFFF;
   color: #AB8C69;
}

@media screen and (max-width: 1350px) {
   .header a {
      display: block;
      text-align: center;
      justify-content: center;
      line-height: 50px;
   }
   .header-right {
      display: flex;
      width: 100%;
      justify-content: center;
   }
   a.header-button-left {
      line-height: 80px;
      width: 100%;
      font-size: 20px;
   }
}

@media screen and (max-width: 815px) {
   .header a {
      display: block;
      text-align: center;
      justify-content: center;
      line-height: 50px;
      font-size: 10px;
   }
   .header-right {
      display: flex;
      width: 100%;
   }
/*    .header-right img {
      display: none;
   } */
/*    a.header-button-left {
      width: 100%;
   } */
}

@media screen and (max-width: 600px) {
   /* .header-right img {
      display: flex;
   } */
   /* .header-right span {
      display: none;
   } */
   .header-right {
      height: 50px;
      align-items: center;
   }
   a:hover, a.header-button-right {
      height: 50px;
      display: flex;
      align-items: center;
   }
}
/* --------------- HEADER --------------- */



/* --------------- HOME --------------- */
.home-page-container {
   color: #706C47;
   width: 90%;
   margin: auto;

   line-height: 35px;
   font-size: 20px;
}
/* --------------- HOME --------------- */



footer {
   background-color: #706C47;
   padding: 50px;
   z-index: 100000;

   display: flex;
   align-items: center;
   justify-content: center;
   gap: 100px;
}

.bottomline {
	position: relative;
	height: 5px;
   background: rgb(171,140,105);
   background: linear-gradient(90deg, rgba(171,140,105,1) 0%, rgba(128,131,95,1) 50%, rgba(112,108,71,1) 100%);
}

@media screen and (max-width: 600px) {
   footer {
      gap: 10px;
   }
}